<div
  class="cursor-pointer"
  [ngClass]="{
    'cursor-pointer': !isDisabled,
    'cursor-not-allowed': isDisabled
  }"
>
  <div *ngIf="isFormButton">
    <button
      type="submit"
      class="w-full flex justify-center bg-transparent hover:bg-tesis-500 text-tesis-700 font-semibold hover:text-tesis-400 py-2 px-4 border border-tesis-500 hover:border-transparent rounded"
      (click)="!isDisabled && onClick()"
    >
      <div *ngIf="icon">
        <i
          *ngIf="!isMaterialIcon; else materialIcon"
          class="pi {{ icon }} mr-1"
          style="font-size: 0.7rem"
        ></i>
        <ng-template #materialIcon>
          <span class="material-icons mr-1" style="font-size: 0.7rem">
            {{ icon }}
          </span>
        </ng-template>
      </div>
      <span>{{ buttonText }}</span>
    </button>
  </div>
  <div *ngIf="!isFormButton">
    <a
      type="submit"
      class="w-full flex justify-center bg-transparent bg-tesis-500 hover:bg-transparent hover:text-tesis-700 font-semibold text-tesis-400 py-2 px-4 border hover:border-tesis-500 border-transparent rounded"
      (click)="!isDisabled && onClick()"
    >
      <div *ngIf="icon">
        <i
          *ngIf="!isMaterialIcon; else materialIcon"
          class="pi {{ icon }} mr-1"
          style="font-size: 0.7rem"
        ></i>
        <ng-template #materialIcon>
          <span class="material-icons mr-1" style="font-size: 0.7rem">
            {{ icon }}
          </span>
        </ng-template>
      </div>
      <span>{{ buttonText }}</span>
    </a>
  </div>
</div>
