<section class="mt-10">
  <div class="grid grid-cols-1 gap-4">
    <div class="col-span-1 md:col-start-10 md:col-span-12">
      <app-button
        [text]="'Editar'"
        [isFormButton]="false"
        (clickAction)="edit()"
        [isMaterialIcon]="true"
        [icon]="'add_circle_outline'"
      >
      </app-button>
    </div>
  </div>
  <app-divider [text]="'Información'" [icon]="'pi-info-circle'"> </app-divider>
  <app-table-info-enterprise [enterpriseInfo]="enterpriseInfo">
  </app-table-info-enterprise>
  <app-divider [text]="'Ubicación'" [icon]="'pi-map-marker'"> </app-divider>
  <app-location-enterprise [lat]="'12312'" [long]="'12312'" [url]="'url'">
  </app-location-enterprise>
</section>
