<section class="mt-5">
  <div class="grid grid-cols-1 gap-4">
    <div class="col-span-1 md:col-start-10 md:col-span-12">
      <app-button
        [text]="'Editar'"
        [isFormButton]="false"
        (clickAction)="edit()"
        [isMaterialIcon]="true"
        [icon]="'add_circle_outline'"
      >
      </app-button>
    </div>
  </div>
  <section *ngIf="enterprise; else sinEmpresa">
    <app-divider [text]="'Información'" [icon]="'pi-info-circle'">
    </app-divider>
    <app-table-info-enterprise [enterpriseInfo]="enterpriseInfo">
    </app-table-info-enterprise>
    <app-divider [text]="'Ubicación'" [icon]="'pi-map-marker'"> </app-divider>
    <app-location-enterprise
      [lat]="enterprise.lat!"
      [lng]="enterprise.lng!"
      [url]="
        'https://www.google.com/maps/place/Manticore+Labs/@-0.1746597,-78.494332,15z/data=!4m5!3m4!1s0x0:0x673d6a69c30f02fc!8m2!3d-0.1746607!4d-78.4943207'
      "
    >
    </app-location-enterprise>
  </section>
  <ng-template #sinEmpresa>
    <h1>Sin empresa</h1>
  </ng-template>
</section>
