<form [formGroup]="form" (ngSubmit)="sendForm()" class="mt-5">
  <div class="grid grid-cols-8 gap-2">
    <div class="col-span-8">
      <app-autocomplete
        id="servicio"
        label="Servicio"
        [formGroup]="form"
        [required]="true"
        [opciones]="opcionesServicios"
      >
      </app-autocomplete>
    </div>
    <div class="col-span-8">
      <app-input
        id="dia"
        label="Dia"
        [type]="'date'"
        [formGroup]="form"
        [required]="true"
      ></app-input>
    </div>
    <div class="col-span-8 md:col-span-4">
      <app-input
        id="desde"
        label="Desde"
        [type]="'datetime-local'"
        [formGroup]="form"
        [required]="true"
      ></app-input>
    </div>
    <div class="col-span-8 md:col-span-4">
      <app-input
        id="hasta"
        label="Hasta"
        [type]="'datetime-local'"
        [formGroup]="form"
        [required]="true"
      ></app-input>
    </div>
  </div>
  <div class="grid grid-cols-2 gap-4 mt-10">
    <app-button text="Cancelar" (clickAction)="cancel()"></app-button>
    <app-button text="Guardar" [isFormButton]="true"></app-button>
  </div>
</form>
