$font-size: 16px;

.p-datatable.p-datatable-sm .p-datatable-header {
  padding: 0.5rem 0.5rem;
  background: $primary-color;
  font-weight: bold;
  font-family: $font;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.p-datatable .p-datatable-thead > tr > th {
  border-width: 0 0 1px 0;
  font-weight: 700;
  color: lighten($black-color, 5%);
  background: $secondary-color;
  transition: box-shadow 0.2s;
  font-size: 14px;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: $font;
}

.p-paginator .p-dropdown {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  height: 1.5rem;
  justify-content: center;
  align-items: center;
  font-size: $font-size !important;
}

.p-datatable .p-datatable-tbody > tr > td {
  text-align: left;
  border: 1px solid $secondary-color;
  border-width: 0 0 1px 0;
  padding: 1rem 1rem;
  font-size: $font-size;
  font-family: $font;
}

.p-column-filter-buttonbar .p-button {
  width: auto;
  color: $black-color !important;
  border: 1px solid $primary-color !important;
}

.p-column-filter-buttonbar .p-button:hover {
  width: auto;
  color: $white-color !important;
  border: 1px solid $primary-color !important;
  background: $primary-color !important;
}

.p-paginator .p-paginator-current {
  background-color: transparent;
  border: 0 none;
  color: $black-color;
  min-width: 3rem;
  height: 3rem;
  margin: 0.143rem;
  padding: 0 0.5rem;
  font-size: $font-size;
}

.p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
  background: lighten($primary-color, 66%);
  border-color: #F5F3FF;
  color: lighten($black-color, 10%);
  height: 31px;
  width: 31px;
  font-size: $font-size !important;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
  color: $primary-color;
  background: lighten($primary-color, 66%);;
}

.p-column-filter-overlay {
  background: #ffffff;
  color: #495057;
  border: 0 none;
  border-radius: 6px;
  box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
  min-width: 12.5rem;
  width: 10rem;
}

.p-dropdown {
  background: $white-color;
  border: 1px solid darken($secondary-color, 10%);
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
  border-radius: 6px;
  height: 32px;
  align-items: center;
  font-size: $font-size !important;
}

.p-button.p-button-text {
  background-color: transparent;
  color: $primary-color;
  border-color: transparent;
}

.p-button:hover.p-button-text {
  background-color: lighten($primary-color, 66%) !important;
  color: $primary-color !important;
  border-color: transparent;
}

  #tablaHijos {
    .p-datatable-header {
      background-color: dimgrey;
    }
  }

.p-datatable .p-paginator-bottom {
  border-width: 0 0 1px 0;
  border-radius: 0;
  background: $white-color;
}
