/* You can add global styles to this file, and also import other style files */
@import "assets/scss/styles";

* {
  font-family: $font;
}

form {
  mat-form-field {
    width: 100%;
  }
}

.custom-mat-dialog {
  mat-dialog-container {
    background-color: white;
    color: black;
  }
}
