<form [formGroup]="form" (ngSubmit)="sendForm()" class="mt-5">
  <div class="grid grid-cols-8 gap-2">
    <div class="col-span-8 md:col-span-4">
      <app-input
        id="nombreServicio"
        label="Nombre servicio"
        placeholder="Ej: Bago"
        [type]="'text'"
        [formGroup]="form"
        [required]="true"
      ></app-input>
    </div>
    <div class="col-span-8 md:col-span-4">
      <app-input
        id="descripcion"
        label="Descripción servicio"
        placeholder="Ej: Bago"
        [type]="'text'"
        [formGroup]="form"
        [required]="true"
      ></app-input>
    </div>
    <div class="col-span-8 md:col-span-4">
      <app-input
        id="tiempoAproximado"
        label="Tiempo aproximado"
        placeholder="Ej: Bago"
        [float]="false"
        [type]="'number'"
        [formGroup]="form"
        [required]="true"
      ></app-input>
    </div>
    <div class="col-span-8 md:col-span-4">
      <app-input
        id="tiempoEspera"
        label="Tiempo espera"
        placeholder="Ej: Bago"
        [float]="false"
        [type]="'number'"
        [formGroup]="form"
        [required]="true"
      ></app-input>
    </div>
  </div>
  <div class="grid grid-cols-2 gap-4 mt-10">
    <app-button text="Cancelar" (clickAction)="cancel()"></app-button>
    <app-button text="Guardar" [isFormButton]="true"></app-button>
  </div>
</form>
